apiVersion: apps/v1
kind: Deployment
metadata:
    name: thumbnail-proc-api
    namespace: default
    labels:
        app: thumbnail-proc-api
spec:
    replicas: 1
    selector:
        matchLabels:
            app: thumbnail-proc-api
    template:
        metadata:
            labels:
                app: thumbnail-proc-api
        spec:
            containers:
              - name: thumbnail-proc-api
                image: thumbnail-proc:latest
                imagePullPolicy: IfNotPresent
                command: ["python", "-m", "uvicorn", "main:app", "--host", "0.0.0.0", "--port", "8080"]
                resources:
                    limits:
                        memory: "256Mi"
                        cpu: "500m"
                    requests:
                        memory: "128Mi"
                        cpu: "250m"
                ports:
                  - containerPort: 8000
                env:
                  - name: ENVIRONMENT
                    value: "dev"
