apiVersion: apps/v1
kind: Deployment
metadata:
  name: thumbnail-proc-api
  namespace: default
  labels:
    app: thumbnail-proc-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: thumbnail-proc-api
  template:
    metadata:
      labels:
        app: thumbnail-proc-api
    spec:
      containers:
      - name: thumbnail-proc-api
        image: thumbnail-proc:latest
        imagePullPolicy: IfNotPresent
        command: [ "python", "-m", "uvicorn", "main:app", "--host", "0.0.0.0", "--port", "8080", "--limit-concurrency", "20" ]
        resources:
          limits:
            memory: "256Mi"
            cpu: "500m"
          requests:
            memory: "128Mi"
            cpu: "250m"
        ports:
        - containerPort: 8000
        env:
        - name: ENVIRONMENT
          value: "dev"
        - name: REDIS_HOST
          value: "redis"
        - name: REDIS_PORT
          value: "6379"
        volumeMounts:
        - name: thumbnail-proc-api
          mountPath: /data
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /healthz
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 20
      volumes:
      - name: thumbnail-proc-api
        emptyDir: {}
