apiVersion: v1
kind: Service
metadata:
  name: thumbnail-proc-api
  namespace: default
  labels:
    app: thumbnail-proc-api
spec:
  selector:
    app: thumbnail-proc-api
  ports:
  - name: http
    protocol: TCP
    port: 8080
    targetPort: 8080
  type: ClusterIP
